<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ewulusen.kittykatt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/indit2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/indit2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration"
            android:parentActivityName=".login">
            >
        </activity>
        <activity
            android:name=".mainScreen"
            android:parentActivityName=".login"
            android:screenOrientation="landscape">
            >
        </activity>
        <activity android:name=".pve_battlefield"
            android:parentActivityName=".mainScreen"
            android:screenOrientation="portrait">></activity>
    </application>

</manifest>